<!DOCTYPE html>
<html>
  <head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" href="/css/style4.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
      <div class="login">
        <form action="/home" method="get">
            <button class="button-40" role="button">Let's Get Started</button>
        </form>
      </div>
    </div>
  </body>
</html>