<!DOCTYPE html>
<html>
  <head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" href="/css/style3.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    <style>
        h1{
            color:white
        }
    </style>

  </head>
  <body>
      <h1>Invalid login credentials ,Please Login !</h1>
      <div class="login">
        <form action="/" method="get">
          <button class="button-64" role="button"><span class="text">Login</span></button>
        </form>
      </div>
    </div>
  </body>
</html>